<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<body>



<table style="color: #929090; font-family: Helvetica, sans-serif; margin: 0; padding: 0; width: 100%;">

	<table style="width: 100%; padding-top: 40px; background-color: #ebefee;" bgcolor="#ebefee">
			<tr>
				<td>
					<!-- Header -->
					<table style="width: 600px; padding-left: 25px; padding-right: 25px; background-color: #fff; margin: auto;" bgcolor="#fff">
						<tr>
							<td style="text-align: center;" align="center">
								<img src="http://admin.localsearchprofiles.com/Public/gmb/logo-sm.jpg" style="padding-top: 25px;">
								<h1 style="line-height: 1.6; color: #646464; font-weight: 400; font-size: 26px; margin: 0; padding: 0;">Google My Business Insights Reporting</h1>
								<strong>{{ThirdPartyMetrics.0.EndDate.Month}} {{ThirdPartyMetrics.0.EndDate.Year}}</strong>
								<hr style="color: #d6d6d6; height: 0px; border-height: 0px; border: #d6d6d6;">
							</td>
						</tr>
					</table>
					<!-- Header -->

					<!-- Business Infor Table -->
					<table style="width: 100%; background-color: #fff;" bgcolor="#fff">
						<tr>
							<td>
								<table style="width: 600px; padding-left: 25px; padding-right: 25px; background-color: #fff; margin: auto;" bgcolor="#fff">
									<tr>
										<td style="text-align: center;" align="center">

										<h2 style="line-height: 1.6; color: #646464; font-size: 20px; margin: 0; padding: 0;">{{Profile.Name}}</h2>
										<p style="margin-top: 3px; margin-bottom: 5px; padding: 0;">
											{{Profile.AddressLine1}} 
											{{#Profile.AddressLine2}}
												{{.}}
											{{/Profile.AddressLine2}}
											<br>
											{{Profile.City}} {{Profile.State}}, {{Profile.ZipCode}} <br>
											{{Profile.Phone}} {{#Profile.TollfreeNumber}} -  {{.}}{{/Profile.TollfreeNumber}}
										</p>
										<hr style="color: #d6d6d6; height: 0px; border-height: 0px; border: #9bc80b;">
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<!-- Business Infor Table -->

					<!--Metrics-->
					<table style="width: 100%; background-color: #fff;" bgcolor="#fff">
						<tr>
							<td>
								<table style="width: 400px; margin: auto;">
									{{#ThirdPartyMetrics.0.Metrics}}
									<tr>
										<td style="text-align: center;" align="center">
											<table style="width: auto; margin: auto;">
												<tr>
													<td align="right" style="font-size: 55px; font-weight: bold; font-family: helvetica;">
														{{MetricValues.0.DisplayValue}}
													</td>
													<td align="left" style="font-size: 55px; font-weight: bold; font-family: helvetica;">
														<img src="http://admin.localsearchprofiles.com/Public/gmb/{{MetricID}}.jpg" style="width: 55px;">
													</td>
												</tr>
											</table>
										<p style="font-size: 90%; margin-top: 3px; margin-bottom: 5px; padding: 0;">
											<strong style="font-size: 120%;">{{MetricName}}</strong><br> 
											{{MetricDescription}}
										</p>
										<hr style="color: #d6d6d6; height: 0px; border-height: 0px; border: #d6d6d6;">
										</td>
									</tr>
									{{/ThirdPartyMetrics.0.Metrics}}

									<tr>
										<td style="text-align: center;" align="center">
											<p style="font-size: 90%; margin-top: 3px; margin-bottom: 5px; padding: 0;">
												<strong style="font-size: 120%;">About this report</strong> <br>
												Data comes from various parts of Google Search. These metrics help show where visitors found that location and what they clicked on through the Google Business profile.
											</p>
										</td>
									</tr>

								</table>
							</td>
						</tr>
					</table>
					<!--Metrics-->

					<!-- Footer -->
					<table style="width: 100%; background-color: #fff;" bgcolor="#fff">
						<tr>
							<td>
								<table style="width: 600px; padding-left: 25px; padding-right: 25px; background-color: #fff; margin: auto;" bgcolor="#fff">
									<tr>
										<td style="text-align: center;" align="center">
											<hr style="color: #d6d6d6; height: 0px; border-height: 0px; border: #d6d6d6;">
											<p style="margin-top: 3px; margin-bottom: 5px; font-size: 80%; padding: 0;">powered by</p>
											<img src="http://admin.localsearchprofiles.com/Public/gmb/velocity_logo.jpg" style="margin-bottom: 10px;">
											<p style="margin-top: 3px; margin-bottom: 5px; font-size: 80%; padding: 0;"></p>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<!-- Footer -->

				</td>
			</tr>
		</table>
	</table>




</body></html>
