 <table class="wrapper" style="border-collapse: collapse; table-layout: fixed; min-width: 320px; width: 100%; background-color: #ffffff;" cellpadding="0" cellspacing="0" role="presentation" bgcolor="#ffffff">
        <tr>
        <td>
        
        <div class="white header" style="border-bottom-style: solid; border-bottom-width: 2px; border-bottom-color: #99cc33; margin-top: 20px; background-color: #ffffff;">
            <div class="container" style="max-width: 600px; min-width: 320px; width: calc(28000% - 167400px); overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; border-collapse: collapse; display: table; font-family: helvetica, arial; color: #757575; font-size: 14px; line-height: 18px; margin: 0 auto;">
                
                <div class="text-left left" style="float: left; max-width: 320px; min-width: 300px; width: calc(12300px - 2000%); text-align: left;" align="left">
                    {{#Profile.DirectoryLogo}}
                    <img src="%7B%7BProfile.DirectoryLogo%7D%7D" height="70px">
                    {{/Profile.DirectoryLogo}}
                    {{^Profile.DirectoryLogo}}
                    <img src="http://admin.localsearchprofiles.com/Public/gmb/velocity_logo-gray.jpg">
                    {{/Profile.DirectoryLogo}}
                </div>
                
                <div class="text-right left" style="float: left; max-width: 320px; min-width: 300px; width: calc(12300px - 2000%); text-align: right;" align="right">
                    <strong>{{ThirdPartyMetrics.0.EndDate.Month}} {{ThirdPartyMetrics.0.EndDate.Year}} Google My Business<br>Insights Reporting</strong>
                </div>
                
                <div style="line-height: 15px; font-size: 15px; width: 100%;">&nbsp;</div>
            </div>
        </div>
        <div class="location" style="background-color: #e2e8ea;">
            <div class="container" style="max-width: 600px; min-width: 320px; width: calc(28000% - 167400px); overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; border-collapse: collapse; display: table; font-family: helvetica, arial; color: #757575; font-size: 14px; line-height: 18px; margin: 0 auto;">
                
                <div class="text-left" style="text-align: left;" align="left">
                    <img src="%7B%7BProfile.ProfileLogo%7D%7D" border="0" height="70px">
                </div>

                <div class="text-left" style="text-align: left;" align="left">
                    <div style="line-height: 15px; font-size: 15px; width: 100%;">&nbsp;</div>
                    <h2 style="color: #000000;">{{Profile.Name}}</h2>
                    <p><em>{{Profile.DirectoryName}}</em>
                        <br> {{Profile.AddressLine1}} {{Profile.AddressLine2}}
                        <br> {{Profile.City}} {{Profile.State}}, {{Profile.ZipCode}}
                        <br> {{Profile.Phone}} {{#Profile.TollFree}}- {{.}}{{/Profile.TollFree}}
                        </p>
                    <div style="line-height: 15px; font-size: 15px; width: 100%;">&nbsp;</div>
                </div>

                
            </div>
        </div>

        <div class="container" style="max-width: 600px; min-width: 320px; width: calc(28000% - 167400px); overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; border-collapse: collapse; display: table; font-family: helvetica, arial; color: #757575; font-size: 14px; line-height: 18px; margin: 0 auto;">
            
            {{#ThirdPartyMetrics.0.Metrics}}
                <table style="vertical-align: middle;">
                    <tr>
                        <td style="vertical-align: middle;" valign="middle"><img src="http://admin.localsearchprofiles.com/Public/gmb/%7B%7BMetricID%7D%7D.jpg"></td>
                        <td style="vertical-align: middle;" valign="middle">
                            <span class="number" style="font-weight: bold; font-size: 28px; color: #282f32;">{{MetricValues.0.Value}}</span>
                            <h3>{{MetricName}}</h3>
                        </td>
                    </tr>
                </table>
            {{/ThirdPartyMetrics.0.Metrics}}
            
        </div>

        <div style="line-height: 15px; font-size: 15px; width: 100%;">&nbsp;</div>
        <div class="container descriptions" style="max-width: 600px; min-width: 320px; width: calc(28000% - 167400px); overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; border-collapse: collapse; display: table; font-family: helvetica, arial; color: #757575; font-size: 14px; line-height: 18px; border-top-style: solid; border-top-color: #99cc33; border-top-width: 2px; margin: 20px auto;">
        <div style="line-height: 15px; font-size: 15px; width: 100%;">&nbsp;</div>
            
            <div class="text-left" style="text-align: left;" align="left">
                <div class="inner" style="margin-left: 10px; margin-right: 10px;">

                    <p><strong>Driving Directions</strong>: How many people requested driving directions from your Google My Business listing.</p>

                    <p><strong>Phone Calls</strong>: How many people initiated a phone call by clicking on a phone number or &ldquo;Call&rdquo; button from your Google My Business listing.</p>
 
                    <p><strong>Clicks to Website</strong>: How many people visited your website from your Google My Business listing.</p>

                    <p><strong>Direct Queries</strong>: How many people searched for and found you from a direct search (your name).</p>
 
                    <p><strong>Discover Queries</strong>: How many people searched for services or products that you offer and which you appeared.</p>
                     
                    <p><strong>Map Views</strong>: How many times people saw your business on Google Maps.</p>
                     
                    <p><strong>Search Views</strong>: How many times people saw your business on Google Search.</p>

                    <p><strong>About this report</strong>
                        <br>Data comes from various parts of Google Search.. These metrics help show where visitors found that location and what they clicked on through the Google Business profile.</p>
                </div>
            </div>
            
            
        </div>
        <div class="container text-center footer" style="max-width: 600px; min-width: 320px; width: calc(28000% - 167400px); overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; border-collapse: collapse; display: table; font-family: helvetica, arial; color: #757575; font-size: 14px; line-height: 18px; text-align: center; margin: 20px auto;" align="center">
            <img src="http://admin.localsearchprofiles.com/Public/gmb/velocity_logo-gray.jpg">
        </div>

        </td>
        </tr>
    </table>
    
